---
- name: "Create .local/bin directory"
  become: True
  file:
    path: '{{ ansible_facts["user_dir"] }}/.local/bin'
    state: directory
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Start Maintenance Script"
  become: True
  template:
    src: start_maintenance.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/start_maintenance'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Maintenance Script Conclude"
  become: True
  template:
    src: conclude_maintenance.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/conclude_maintenance'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Make Ready Script"
  become: True
  template:
    src: make_ready.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/poet_server_make_ready'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Stop Maintenance Script"
  become: True
  template:
    src: stop_maintenance.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/stop_maintenance'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Initialization Script"
  become: True
  template:
    src: initialize_project.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/initialize_project'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Quick Start Script"
  become: True
  template:
    src: poet_start.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/poet_start'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Database Backup Script"
  become: True
  template:
    src: backup_database.j2
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/backup_database'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: "0700"

- name: "Copy Gunicorn Service"
  become: True
  template:
    src: gunicorn.service.j2
    dest: /etc/systemd/system/gunicorn.service
    owner: root
    group: "{{ ansible_ssh_user }}"
    mode: "0640"

- name: "Change home directory permissions and group"
  become: True
  ansible.builtin.file:
    path: '{{ ansible_facts["user_dir"] }}'
    state: directory
    group: nginx
    mode: "0750"
