---
- import_tasks: verify_variables.yml
  tags: [never, compact, new_instance, prepare_box]

- import_tasks: verify_extra_variables.yml
  tags: [never, compact, install_django]

- import_tasks: new_instance.yml
  tags: [never, new_instance]
  when: ansible_ssh_user == "root"

- import_tasks: monitoring.yml
  tags: [never, compact, prepare_box]

- import_tasks: os_prep.yml
  tags: [never, compact, prepare_box]

- import_tasks: sshd.yml
  tags: [never, compact, prepare_box]

- import_tasks: fail2ban.yml
  tags: [never, compact, prepare_box]

- import_tasks: iptables.yml
  tags: [never, compact, prepare_box]

- import_tasks: postgresql.yml
  tags: [never, compact, install_postgres, install_django]

- import_tasks: local_django.yml
  tags: [never, compact, install_django]

- import_tasks: nginx_hardened.yml
  tags: [never, compact, nginx_proxy]

- import_tasks: nginx_compact.yml
  tags: [never, compact, nginx_proxy]

- import_tasks: copy_scripts.yml
  tags: [never, compact, install_django]

- import_tasks: certbot.yml
  tags: [never, certbot]

- import_tasks: update_upgrade.yml
  tags: [never, update_os]

- import_tasks: upstream_maintenance.yml
  tags: [never, upstream_maintenance]

- import_tasks: upstream_initialization.yml
  tags: [never, upstream_initialization]