---
- name: copy necessary templates
  template:
    src: "{{ item.source }}"
    dest: "{{ item.destination }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  become: True
  with_items:
    # - {
    #     source: nginx.conf_pre.j2,
    #     destination: /etc/nginx/nginx.conf,
    #     owner: root,
    #     group: root,
    #     mode: "0640",
    #   }
    - {
        source: nginx_site.conf_pre.j2,
        destination: "/etc/nginx/conf.d/{{ server_domain_name }}.conf",
        owner: root,
        group: root,
        mode: "0640",
      }

- name: "Nginx: Create html directory for this server"
  command: 'git init {{ ansible_facts["user_dir"] }}/00_server/{{ server_domain_name }}'
  args:
    creates: '{{ ansible_facts["user_dir"] }}/00_server/{{ server_domain_name }}/.git/HEAD'

- name: "Nginx: Change permissions and group of the server directory"
  become: True
  file:
    path: '{{ ansible_facts["user_dir"] }}/00_server/{{ server_domain_name }}'
    state: directory
    owner: "{{ ansible_ssh_user }}"
    group: nginx
    mode: "0750"
