---
- name: "Nginx: Install necessary dependencies"
  become: True
  apt:
    name:
      [
        "curl",
        "gnupg2",
        "ca-certificates",
        "lsb-release",
        "certbot",
        "python3-certbot-nginx",
      ]
    state: present

# - name: "Nginx: Add the signing key, if not present"
#   become: True
#   apt_key:
#     id: 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62
#     url: https://nginx.org/keys/nginx_signing.key
#     state: present

- name: "Nginx: Add the signing key, if not present"
  become: True
  get_url:
    url: "https://nginx.org/keys/nginx_signing.key"
    dest: "/etc/apt/trusted.gpg.d/nginx.asc"
    mode: "0644"
    force: true

- name: "Nginx: Add APT deb repository"
  become: True
  apt_repository:
    repo: "deb [arch=amd64] http://nginx.org/packages/debian/ {{ ansible_facts['distribution_release'] }} nginx"

- name: "Nginx: Add APT deb-src repository"
  become: True
  apt_repository:
    repo: "deb-src [arch=amd64] http://nginx.org/packages/debian/ {{ ansible_facts['distribution_release'] }} nginx"

- name: "Nginx: Update and Install Nginx"
  become: True
  block:
    - name: Update System
      apt:
        update_cache: yes
    - name: Install Nginx
      apt:
        name: nginx
        state: present

- name: "Create nginx site cache directory"
  become: True
  file:
    path: "/var/cache/nginx/{{ server_domain_name }}"
    state: directory
    owner: nginx
    group: root
    mode: "0700"

- name: copy 10.headers.conf
  become: True
  copy:
    src: 10.headers.conf
    dest: /etc/nginx/conf.d/10.headers.conf
    owner: root
    group: root
    mode: "0600"

- import_role:
    name: devsec.hardening.nginx_hardening
  become: True
  vars:
    nginx_client_body_buffer_size: 16k
    nginx_client_max_body_size: 8m
    nginx_remove_default_site: true
    nginx_large_client_header_buffers: 4 8k
    nginx_limit_conn: default 20
    nginx_add_header: []

- name: Add cache policy for {{ server_domain_name }}
  become: True
  ansible.builtin.lineinfile:
    path: /etc/nginx/conf.d/91.proxy_cache.conf
    line: "proxy_cache_path /var/cache/nginx/{{ server_domain_name }} levels=1:2 keys_zone={{ server_domain_name }}_cache:{{ nginx_cache_keys_zone_size | default('10m') }} max_size={{ nginx_cache_max_size | default('20g') }} inactive={{ nginx_cache_inactive_time | default('180m') }} use_temp_path=off;"
    create: yes
    owner: root
    group: root
    mode: "0600"

- name: copy 70.gzip.conf
  become: True
  copy:
    src: 70.gzip.conf
    dest: /etc/nginx/conf.d/70.gzip.conf
    owner: root
    group: root
    mode: "0600"

- name: "Nginx: Initialize nginx"
  become: True
  service:
    name: nginx
    state: restarted
    enabled: yes

- name: "Nginx: Check if report script exists"
  stat:
    path: /usr/local/bin/check_services
  register: nginx_services

- name: "Nginx: Append services to report script"
  become: True
  lineinfile:
    dest: "/usr/local/bin/check_services"
    insertafter: "^# Add services"
    line: 'services+="{{ item }} "'
    state: present
  with_items:
    - "nginx"
  when: nginx_services.stat.exists == True
