---
- name: "Nginx: Install necessary dependencies"
  become: True
  ansible.builtin.apt:
    name:
      [
        "curl",
        "gnupg2",
        "ca-certificates",
        "lsb-release",
        "certbot",
        "python3-certbot-nginx",
      ]
    state: present

- name: "Nginx: Add the signing key, if not present"
  become: True
  ansible.builtin.get_url:
    url: "https://nginx.org/keys/nginx_signing.key"
    dest: "/etc/apt/trusted.gpg.d/nginx.asc"
    mode: "0644"
    force: true

- name: "Nginx: Add APT deb repository"
  become: True
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] http://nginx.org/packages/debian/ {{ ansible_facts['distribution_release'] }} nginx"

- name: "Nginx: Add APT deb-src repository"
  become: True
  ansible.builtin.apt_repository:
    repo: "deb-src [arch=amd64] http://nginx.org/packages/debian/ {{ ansible_facts['distribution_release'] }} nginx"

- name: "Nginx: Update and Install Nginx"
  become: True
  block:
    - name: Update System
      ansible.builtin.apt:
        update_cache: yes
    - name: Upgrade System
      ansible.builtin.apt:
        upgrade: full
    - name: Install Nginx
      ansible.builtin.apt:
        name: nginx
        state: present
    - name: Update System
      ansible.builtin.apt:
        update_cache: yes
    - name: Upgrade System
      ansible.builtin.apt:
        upgrade: full

- name: copy 10.headers.conf
  become: True
  ansible.builtin.copy:
    src: 10.headers.conf
    dest: /etc/nginx/conf.d/10.headers.conf
    owner: root
    group: root
    mode: "0600"

- import_role:
    name: devsec.hardening.nginx_hardening
  become: True
  vars:
    nginx_client_body_buffer_size: 16k
    nginx_client_max_body_size: 8m
    nginx_remove_default_site: true
    nginx_large_client_header_buffers: 4 8k
    nginx_limit_conn: default 20
    nginx_add_header: []

- name: copy 70.gzip.conf
  become: True
  ansible.builtin.copy:
    src: 70.gzip.conf
    dest: /etc/nginx/conf.d/70.gzip.conf
    owner: root
    group: root
    mode: "0600"

- name: "Assert permissions of cache directory"
  become: True
  ansible.builtin.file:
    path: "/var/cache/nginx"
    state: directory
    owner: nginx
    group: root
    mode: "0700"
    recurse: True

- name: "Nginx: Initialize nginx"
  become: True
  ansible.builtin.service:
    name: nginx
    state: restarted
    enabled: yes

- name: "Nginx: Check if report script exists"
  ansible.builtin.stat:
    path: /usr/local/bin/check_services
  register: nginx_services

- name: "Nginx: Append services to report script"
  become: True
  ansible.builtin.lineinfile:
    dest: "/usr/local/bin/check_services"
    insertafter: "^# Add services"
    line: 'services+="{{ item }} "'
    state: present
  with_items:
    - "nginx"
  when: nginx_services.stat.exists == True
