---
- name: "Stop when maintenance environment variables are undefined"
  meta: end_play
  when: lookup('env', 'ANSIBLE_DOTENV_FILE_PATH') == "" or lookup('env', 'POET_PROJECT_PATH') == "" or lookup('env', 'ANSIBLE_LOCAL_PROJECT_PATH') == ""

- name: Verify that project exists by checking the cellar directory
  stat:
    path: "{{ lookup('env', 'POET_PROJECT_PATH') }}/cellar"
  register: register_project

- name: Verify that the virtual environment folder exists
  stat:
    path: "{{ lookup('env', 'POET_PROJECT_PATH') }}/.venv"
  register: register_venv

- name: "Stop when the project is not initialized"
  meta: end_play
  when: not register_project.stat.exists and not register_venv.stat.exists

- name: "Change permissions and group of the server directory"
  become: True
  ansible.builtin.file:
    path: '{{ ansible_facts["user_dir"] }}/00_server/{{ server_domain_name }}'
    state: directory
    owner: "{{ ansible_ssh_user }}"
    group: nginx
    recurse: True
    mode: "0750"

- name: Copy poet files
  become: True
  unarchive:
    src: "{{ lookup('env', 'HOME') }}/.local/bin/poet.tar.gz"
    dest: '{{ ansible_facts["user_dir"] }}/.local/bin/'
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: 0700

- name: "Copy .env to production"
  copy:
    src: "{{ lookup('env', 'ANSIBLE_DOTENV_FILE_PATH') }}"
    dest: "{{ lookup('env', 'POET_PROJECT_PATH') }}/.env"
    owner: "{{ ansible_ssh_user }}"
    group: "{{ ansible_ssh_user }}"
    mode: 0400

- name: "Start Maintenance Mode after waiting for the countdown notification to finish"
  shell:
    cmd: '{{ ansible_facts["user_dir"] }}/.local/bin/start_maintenance'

- name: "Stop Gunicorn"
  become: True
  ansible.builtin.service:
    name: gunicorn
    state: stopped

- name: "Push upstream"
  local_action: shell cd {{ lookup('env', "ANSIBLE_LOCAL_PROJECT_PATH" )}} && git push upstream

- name: "Conclude Maintenance Mode"
  shell:
    cmd: /usr/bin/screen -S maintenance -d -m '{{ ansible_facts["user_dir"] }}/.local/bin/conclude_maintenance'

- name: Attention
  debug:
    msg: "Login to the server and run `screen -r maintenance` to see how the script goes."

- name: Make poet_server to Wait until screen is over
  become: True
  wait_for:
    path: /tmp/ansible_maintenance_wait
    timeout: 800
    state: absent

- name: "Stop Maintenance Mode"
  shell:
    cmd: '{{ ansible_facts["user_dir"] }}/.local/bin/stop_maintenance'

- name: "Start and Enable Gunicorn"
  become: True
  ansible.builtin.service:
    name: gunicorn
    state: started
    enabled: True