#!/bin/bash

DIFF=$(/usr/bin/diff /var/log/chkrootkit/log.today /var/log/chkrootkit/log.expected)

[ -n "$DIFF" ] && {
  echo -e "Subject:Chkrootkit Alert\n\n$DIFF" \
    | /usr/sbin/sendmail -F "Charlie Root {{ ansible_ssh_user }}" {{ admin_email }}
}

/usr/bin/cp -af /var/log/chkrootkit/log.today /var/log/chkrootkit/log.expected