[Unit]
Description=Gunicorn Service
After=nginx.service

[Service]
Type=notify
User={{ ansible_ssh_user }}
Group={{ ansible_ssh_user }}
# DynamicUser=yes
WorkingDirectory={{ ansible_user_dir }}/00_server/{{ server_domain_name }}/src/{{ lookup('env', 'POET_PROJECT') }}
EnvironmentFile={{ ansible_user_dir }}/00_server/{{ server_domain_name }}/.env
ExecStart={{ ansible_user_dir }}/00_server/{{ server_domain_name }}/.venv/bin/gunicorn -c main/uvicorn.py main.asgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
