#!/bin/sh

{% if ansible_facts.default_ipv4.address is defined %}
/sbin/iptables-restore /etc/iptables/pre-ipv4.rules
{% endif %}
{% if ansible_facts.default_ipv6.address is defined %}
/sbin/ip6tables-restore /etc/iptables/pre-ipv6.rules
{% endif %}
