#!/bin/bash

. "$HOME"/.profile
. "$HOME"/.local/bin/poet_start

MINUTES_LATER=$(date --date "$(date +%Y-%m-%dT%H:%M:%S%:z) +2 min" --iso-8601=minutes)

echo \
  "from django.core.cache import cache; cache.set(\"maintenance_alert\", \"$MINUTES_LATER\")" \
  | {{ ansible_facts["user_dir"] }}/.local/bin/poetry run ./manage.py shell

sleep 69

cp {{ ansible_facts["user_dir"] }}/00_server/{{ server_domain_name }}/cellar/rubble/maintenance.html {{ ansible_facts["user_dir"] }}/00_server/{{ server_domain_name }}/www/maintenance.html
