[Unit]
Description=Restore iptables firewall rules
After=network.target iptables.service ip6tables.service
Before=fail2ban.service docker.service

[Service]
Type=oneshot
ExecStart=/etc/iptables/pre-firewall.start

[Install]
WantedBy=multi-user.target
